School project/Project with Service(11)/WebSite/App_WebReferences/localhostService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByIDResult" type="tns:ProductDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KindID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ManufacturerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsInStock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsInOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageURL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductByKindID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kindid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByKindIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByKindIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:ProductDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:ProductDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProductResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByID" />
  </wsdl:message>
  <wsdl:message name="GetProductByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductByKindIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductByKindID" />
  </wsdl:message>
  <wsdl:message name="GetProductByKindIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductByKindIDResponse" />
  </wsdl:message>
  <wsdl:message name="AddProductSoapIn">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="AddProductSoapOut">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input message="tns:GetAllProductsSoapIn" />
      <wsdl:output message="tns:GetAllProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <wsdl:input message="tns:GetProductByIDSoapIn" />
      <wsdl:output message="tns:GetProductByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByKindID">
      <wsdl:input message="tns:GetProductByKindIDSoapIn" />
      <wsdl:output message="tns:GetProductByKindIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input message="tns:AddProductSoapIn" />
      <wsdl:output message="tns:AddProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input message="tns:UpdateProductSoapIn" />
      <wsdl:output message="tns:UpdateProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input message="tns:DeleteProductSoapIn" />
      <wsdl:output message="tns:DeleteProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <soap:operation soapAction="http://tempuri.org/GetProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByKindID">
      <soap:operation soapAction="http://tempuri.org/GetProductByKindID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap12:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByID">
      <soap12:operation soapAction="http://tempuri.org/GetProductByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByKindID">
      <soap12:operation soapAction="http://tempuri.org/GetProductByKindID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap12:operation soapAction="http://tempuri.org/AddProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap12:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap12:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:3307/StorageWebService/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:3307/StorageWebService/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>