School project/Project with Service(11)/StorageWebService/App_WebReferences/localhostService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOrders">
        <s:complexType />
      </s:element>
      <s:element name="GetAllOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewOrders">
        <s:complexType />
      </s:element>
      <s:element name="GetNewOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsInOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsInOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsInOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateOrderDeliveryID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deliveryid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderDeliveryIDResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="GetAllOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewOrders" />
  </wsdl:message>
  <wsdl:message name="GetNewOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsInOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsInOrder" />
  </wsdl:message>
  <wsdl:message name="GetProductsInOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsInOrderResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderDeliveryIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderDeliveryID" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderDeliveryIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderDeliveryIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input message="tns:GetAllOrdersSoapIn" />
      <wsdl:output message="tns:GetAllOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <wsdl:input message="tns:GetNewOrdersSoapIn" />
      <wsdl:output message="tns:GetNewOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsInOrder">
      <wsdl:input message="tns:GetProductsInOrderSoapIn" />
      <wsdl:output message="tns:GetProductsInOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <wsdl:input message="tns:UpdateOrderStatusSoapIn" />
      <wsdl:output message="tns:UpdateOrderStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderDeliveryID">
      <wsdl:input message="tns:UpdateOrderDeliveryIDSoapIn" />
      <wsdl:output message="tns:UpdateOrderDeliveryIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <soap:operation soapAction="http://tempuri.org/GetNewOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsInOrder">
      <soap:operation soapAction="http://tempuri.org/GetProductsInOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderDeliveryID">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderDeliveryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap12:operation soapAction="http://tempuri.org/GetAllOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewOrders">
      <soap12:operation soapAction="http://tempuri.org/GetNewOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsInOrder">
      <soap12:operation soapAction="http://tempuri.org/GetProductsInOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderDeliveryID">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderDeliveryID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:55688/WebSite/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:55688/WebSite/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>